// #button_loss{
// background-image: url(../img/button_loss.png);
// background-size:contain;
// background-repeat: no-repeat;
// width: 10vw;
// min-width: 140px;
// height: 200px;
// /* border: 2px blue solid; */
// position: absolute;
// float:left;
// top: 45%;
// right: 20px;
// transition: all .5s;
// animation: scaleBounce .5s 1 ease-in;
// }

.button_transparency{
right: 0px;
top: 35%;
}

.button_fear{
right: 17%;
top: 68%;
}

#button_fear_A{
  left: 17%;
  top: 68%;
}

// #button_loss:hover{
//     cursor: url(../img/mouseB.png);
//     background-image: url(../img/button_loss_hover.png);
//
// }

@keyframes scaleBounce {
  40% { transform: scale(.8)}
  70% { transform: scale(1.1)}
}


.explorable_meta_closed{
  background-image: url(../img/ee.png);
  background-size:contain;
  background-repeat: no-repeat;
}

.exmet{
  left: 50%;
  transform: translateX(-50%);
  margin: 30px;
  width: 50vw;
  height: 200px;
  position: relative;

}

.explorable_meta_closed:hover{
  background-image: url(../img/ee_hover.png);
}
