@import "_shared_variables";

$motivationCol: #3FA9F5;
$abilityCol: #00FBD0;
$triggerCol: #FF404B;

.fogg-flex-container{
  display: flex;
}

.fogg-flex-child{
  margin: 5px;
  flex: 1;
  min-height: 100px;
  transition: all .5s ease-in-out;
}

.fogg-flex-child:hover{
  box-shadow: $button-shadow;
  transform: scale(1.1);
 }


.fogg-flex-container .motivation{

  background: $motivationCol;
}

.fogg-flex-container .ability{

  background: $abilityCol;
}

.fogg-flex-container .trigger{

  background: $triggerCol;
}

.fogg-flex-child > p{
  margin-top: 10% !important;
}

.fogg-flex-container span{
  font-weight: bold;
}

.fogg-interaction-space{
  border: 1px solid black;
  margin-top: 30px;
  box-shadow: 2px 6px 20px rgba(0,0,0,.3);
  transition: all .5s ease-in-out;
  // border: 1px black solid;
}

.fogg-instruction-space{
  // box-shadow: 2px 6px 20px rgba(0,0,0,.3);
  transition: all .5s ease-in-out;
  // border: 1px black solid;
}



.fogg-interaction-space > *{
// margin: 10px;
}

.fogg-interaction-space > img{
width: 90%;
}

.fogg-instruction-space > *{
margin: 10px;
}

#motivation_instruction{
  background: $motivationCol;
  padding: 50px;
}

#ability_instruction{
  background: $abilityCol;
  padding: 50px;
}

#trigger_instruction{
  background: $triggerCol;
  padding: 50px;
}



// var cols = ['#00FBD0', '#3FA9F5', '#FF404B', '#0000FF', '#22B573','#00FF00','#E56E9F','#F7F100','#FFB9ED','#FBB03B','-webkit-linear-gradient(#FBB03B, #E56E9F)',
// '-webkit-linear-gradient(#00FBD0, #0000FF)','-webkit-linear-gradient(#FF404B, #0000FF)','-webkit-linear-gradient(#FF404B, #F7F100)','#00FBD0']
