@import '_shared_variables';

.nav-rect {
  display: block;
  float: right;
  width: 3vh;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 0px;
  height: 3vh;
  border: 2px black solid;
  position: relative;
}

.flex-parent{
  display: flex;
  flex-direction: column;
  width: 100vw;
  float: right;
}

.nav-section {
  height: 120px;
  position: relative;
  flex-direction:column;
}

.testFLex{
  display: flex;
  flex-direction: row;
}


.nav-highlighted{
  background: $gradient-pink-tan !important;
  color: $tan !important;
}

#nav-opener{
  position: absolute;
  top: 0px;
  right: -40px;
}



  .nav-all{
    position:fixed;
    left: 0px;
    display: inline-block;
    top: 0px;
    height: 100vh;
    opacity: 0;
    width: 14vw !important;
    border-right: 1px grey solid;
    // text-align: left;
  }

  #nav-words > * {
        text-orientation: sideways-right;
        transform: rotateZ(-90deg);
        margin: 40px;
  }



#boxesHolder{
    padding: 0;
margin-left:60px;
margin-right: 60px;
/* margin-bottom: 100px; */
list-style: none;

display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-webkit-flex-flow: row wrap;
justify-content: space-around;

  }

 .box-section:hover{
  }

  .box-section{
    transition: all 1s ease-in-out;
    background: $red-B;
    margin: 10px;

    color: white;
    font-size: 1em;
    text-align: center;
  }

.flex-child-main{
    justify-content: center;
    margin-bottom: 150px;
  }


  #down-first{
    position: absolute;
    margin: 50px 0px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }


  #heroBack{
    flex: 1;
    top: 50%;
    position: relative;
    align-self: center;
  }

    #heroForward{
    flex: 1;
    align-self: center;
  }

  #heroContentHolder{
    display: flex;
  }
