@import "_shared_variables";

#spbutton1{



}

#spbutton2{


}

#spbutton3{


}

#spbutton4{

}

#hope-comng-soon{
  color: $red-A;
  width: 70%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

#spbuttonholder{
    display: flex;
/*     border: 4px red solid; */
}

#spbuttonholder > * {
    flex: 1;
    margin: 8px;
     position: relative;
display: inline-block;
}
